body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  
  overflow: hidden; 
}


.split-left{
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 2;
  top: 0;
  padding-top: 20px;
  left: 0;
  background-color:black;
  
}
.split-right{
  height: 100%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 0;
  padding-top: 20px;
  right: 0;
  background-color: black;
 overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
     
}
.page {
  height: 100vh;
  padding: 60px 40px;
  background-color:black;
  color: white;
  scroll-snap-align: start;
  border-bottom: 1px solid black;
   box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.05);
}


#identity{
    min-height: 93vh;
    background-image: url(./images/philipp-katzenberger-iIJrUoeRoCQ-unsplash.jpg);
    background-repeat: no-repeat;
background-position: center center;
   background-size: cover;
   border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.home-content {
   color: white;
   font-style: italic;
    text-align: center;
    margin-top: 100px;
     margin-left: auto;
  margin-right: auto;
}
.home-content p{
  color: white;
  font-display: block;
}
#image{
    min-height: 10vh;
    min-width: 10vh;
      background-image: url(./images/dana-al-hawitey-wdQhBmMGmq8-unsplash.jpg);
    background-repeat: no-repeat;background-position: center center;
   background-size: cover;
   border-radius: 100px;
   margin-left: 311px;
   margin-right: 350px;
    filter: grayscale(50%) brightness(80%) opacity(0.8);
     box-shadow: 0 0 20px #00ffff;
}
button {
  background-color: black; 
  color: #fff;             
  border: 2px solid #444; 
  box-shadow: 0 0 20px #00ffff; 
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 50px;
}

button:hover {
  background-color: #333;
  border-color: #666;
  color: #ddd;
  transform: scale(1.05);
}
#about{
    color: white;
    text-align: center;
    font-style: italic;
    
}
#about p{
    font-style: italic;
    font-display: block;
}
#about a{
    
   float: left;
   margin-top: 120px;
     color: #aaa;
  text-decoration: none;
  transition: color 0.3s ease;
    
}
#about a:hover {
  color:  #00ffff;;
  text-decoration: underline;
}
#projects {
  text-align: center;
  color: white;
  padding: 40px 20px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 70px;
  padding: 20px;
}

.project-card {
  background-color: #111;
  color: white;
  border-radius: 15px;
  width: 180px;
  padding: 12px;
  box-shadow: 0 10px #00ffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  font-size: 14px;
  margin-bottom: 50px;
 
}

.project-card img {
   width: 100%;
  height: 50%;
  border-radius: 10px;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px #00ffff;
}

.project-card h2 {
  margin-bottom: 10px;
}

.project-card p {
  font-style: italic;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.project-card a {
  color: #00ffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;

}

.project-card a:hover {
  color: #66ffff;
  text-decoration: underline;
}
#projects h1{
    font-style: italic;
    

}
#contactlink a{
    color: #aaa;
   
    font-style: oblique;
    transition: color 0.3s ease;
    text-decoration: none;
}
#contactlink a:hover {
  color: #00ffff;
  text-decoration: underline;
}
#contact {
  text-align: center;
  color: white;
  padding: 40px 20px;
}

#contact .fab {
  padding: 15px;
  font-size: 24px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  border-radius: 50%;
  background-color: #333;
  color: white;
  transition: background-color 0.3s, transform 0.3s;
}

#contact .fab:hover {
  background-color: #00ffff;
  color: black;
  transform: scale(1.1);
}
